html, 
body, 
#app {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;

    /* Quebra a linha
    Por padrão ele nao quebra a linha e a propriedade tem valor de nowrap  */
    flex-wrap: wrap;


}

.box {
    width: 200px;
    height: 60px; 
    background: #f00;
    margin: 5px;

}