* {
    /* Fazer tipo um reset nos elementos pra que eles nao tenham nenhum espaçamento NATIVO. EX: p, h1 */
    margin: 0;
    padding: 0;

    /* Fazer com que o padding não aumente o tamanho da with de um elemento */
    box-sizing: border-box;
}

body {
    
}