html, 
body, 
#app {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;

}

.box {
    width: 200px;
    height: 60px; 
    background: #f00;
    margin: 5px;

    /* Elemento aceita ser aumentado para preencher totalmente a tela */
    /* Por padrão ele é 0 */
    flex-grow: 0;

    /* Se o valor for 0, mantem o tamanho predefinido no elemento e não é mais flexivel */
    /* Por padrão ele é 1 */
    flex-shrink: 0;

    /* Mistura do flex-grow e do flex-shrink */
    /* flex: 1 0; */

    /* Por padrão usa-se mais o flex: 1; */
    /* flex: 1; */

}